@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.main {
  background-color: $second-color;
  padding: 60px 0 120px;

  @include on-tablet {
    padding-top: 120px;
  }

  @include on-desktop {
    padding-bottom: 170px;
  }

  &__container {
    display: grid;
    row-gap: 90px;

    @include on-tablet {
      row-gap: 120px;
    }

    @include on-desktop {
      row-gap: 160px;
    }
  }
}
