@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.button {
  display: block;
  font-weight: 700;
  line-height: 1;
  padding: 20px 10px;
  text-align: center;
  background-color: $main-color;
  color: $second-color;
  border-radius: 50px;
  width: 100%;

  @include transition(box-shadow);

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}