@use '../utils/mixins' as *;

.card {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__photo {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 16px;
  }

   &__price {
    font-weight: 700;
    font-size: 24px;
   }
}