@use '../utils/mixins' as *;

.compare {
  &__wrapper {
    @include page-grid;

    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }

    @include on-desktop {
      row-gap: 0;
    }
  }
}
