.form {
  &__input {
    background-color: #f8f8fa;
    border-radius: 40px;
    padding: 14px 16px;
    border: 0;
    color: #292929;
    font-size: 14px;
    width: 100%;
    outline: none;

    &::placeholder {
      color: #7e7e83;
    }

    &--message {
      border-radius: 16px;
      margin-bottom: 32px;
      height: 150px;
      resize: none;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:hover::placeholder {
      color: #292929;
    }
  }
}
