@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icon-phone-call.svg);

    @include transition(opacity);
    
    &:hover {
      opacity: 0.6;
    }
  }

  &--menu {
    background-image: url(../images/icon-burger-menu.svg);

    @include transition(opacity);
    
    &:hover {
      opacity: 0.6;
    }
  }

  &--close {
    position: relative;
    width: 20px;
    height: 20px;

    @include transition(opacity);

    @include on-tablet {
      width: 26px;
      height: 26px;
    }

    &:hover {
      opacity: 0.6;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $second-color;
      border-radius: 3px;

      @include on-tablet {
        height: 3px;
      }

      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
