@use '../utils/variables' as *;
@use '../utils/mixins' as *; 

.container {
  padding-inline: $mobile-margin;

  @include on-tablet {
    padding-inline: $tablet-margin;
  }

  @include on-desktop {
    padding-inline: $desktop-margin;
    margin-inline: auto;
    max-width: $desktop-min-width;
  }
}